{% extends 'template.html.twig' %}
{% block body %}
{% block Pagetitle %}
{{ name }}
{% endblock %}
<div>

    <h1>{{ name }}</h1>
    <h2>Today : {{ "now " | date("d/m/Y") }} is a good day</h2>

    <p>bonjour render  votre url absolue est {{ url('first') }}</p>
    <img src="{{ asset('assets/images/') ~ path|defaultImage}}" height="300px" width="500px">
    <div class="alert alert-warning">
        <a href="{{ path('tab',{nb:1}) }}">Move To The random Table</a>
    </div>
</div>
{% endblock %}
{% block title %}
{{ name }}
{% endblock%}
{% block navigation %}
Votre page personelle
{% endblock %}